@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --blue: #3a567d;
    --blue2: #acc4d2;
    --blue3: #158fd4;
    --text-black: #353535;
    --br: 12px
}
*{
    font-family: "Montserrat", sans-serif !important;
}
a{
    text-decoration: none;
}
section{
    margin-bottom: 50px;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
}
.container{
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
}
header{
    height: 100px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    background-color: #fff;
}
header::after{
    position:absolute;
    content: "";
        top: 15%;
    left: -20%;
    height: 100%;
    width: 100%;
    background: url(../img/head-bgnew.webp) no-repeat;
    z-index: 0;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    gap: 20px;
    z-index: 20;
}
nav .logo_side{
    height: auto;
    width: 110px;
}
nav .logo_side img{
    width: 100%;
    object-fit: cover;
}

nav .menu_nav ul{
    display: flex;
}
nav .menu_nav .menu_link{
    color: var(--text-black);
    font-size: 13px;
    padding: 0 15px;
    position: relative;
    padding-bottom: 10px;
    font-weight: 500;
}
nav .menu_nav .menu_link::after{
    position: absolute;
    background: url(../img/line.png) center 0 no-repeat;
    width: 6px;
    height: 12px;
    content: "";
    top: 3px;
    right: -4px;
    color: #dee4e9;
}
nav .menu_nav li:last-child .menu_link::after {
    display: none !important;
}
nav .menu_link.active{
        color: var(--blue);
        font-weight: 400;
}
nav .menu_nav .menu_link:hover{
    color: var(--blue3)
}
nav .menu_link:hover::after{
    display: block;
    content: '';
    position: absolute;
    left: -webkit-calc(50% - 5px);
    left: calc(50% - 5px);
    top: 47px;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px;
    border-color: transparent transparent var(--blue3);
}
nav .social_icons{
    display: flex;
    align-items: center;
    gap: 5px;
}
nav .social_icons .phone_icon{
    color: var(--blue);
    font-weight: 600;
    font-size: 15px;
    border:none;
    background:#fff;
    margin-right: 0;
    padding-bottom: 10px !important;
    position: relative;
}
nav .social_icons .phone_icon:hover{
    color: var(--blue3);
    background: #fff
}

nav .social_icons path{
    fill: var(--blue);
}
nav .social_icons a{
    padding: 10px;
    border: 1px solid var(--blue2);
    border-radius: var(--br);
    background: #3a567d16;
    margin-right: 10px;
}
nav .social_icons a:hover{
    background: #3a567d25
}

.hero-slider {
    position: relative;
    overflow: hidden;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 30%;
    left: 60px;
    width: 45%;
    color: #fff;
    z-index: 10;
}

.hero-content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}


.hero-form-box {
    position: absolute;
    top: 30%;
    right: 60px;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0,0.55);
    color: #fff;
    border-radius: 6px;
    backdrop-filter: blur(5px);
    z-index: 200;
}

.hero-form-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    margin-top: 5px;
    background: rgba(255,255,255,0.15);
    border: none;
    border-radius: 4px;
    color: white;
}

.hero-form-box label{
    font-size: 18px;
}

.swiper-slide{
    position: relative;
}
.swiper-slide::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color:#33333396;
}
.slider-buttons {
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 300 !important;
    display: flex;
}

.slider-buttons--dark .slider-buttons__button {
    border-color: rgba(0,0,0,.1)
}

.slider-buttons--dark .slider-buttons__button:hover .slider-buttons__svg path {
    stroke: #fff
}

.slider-buttons--dark .slider-buttons__svg path {
    stroke: #181d1d
}

.slider-buttons__item:not(:first-child) {
    margin-left: 1.4375rem
}

.slider-buttons__button {
    --size: 8.75rem
}

.slider-buttons__button {
    position: relative;
    z-index: 0;
    width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hsla(0,0%,100%,.3);
    background: none;
    cursor: pointer;
    transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
    overflow: hidden
}

.slider-buttons__button:hover {
    border-color: var(--blue);
}

.slider-buttons__button:hover::before {
    transform: none
}

.slider-buttons__button:hover .slider-buttons__hover {
    animation: MoveUpInitial .2s forwards,MoveUpEnd .2s forwards .2s
}

.slider-buttons__button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    transform: translateY(100%);
    transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1);
    background-color: var(--blue)
}

.slider-buttons__span {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden
}

.slider-buttons__hover {
    display: flex;
    align-items: center;
    justify-content: center
}

.slider-buttons__svg {
    --size: 1.75rem
}


.slider-buttons__svg {
    width: 40px;
    height: 40px;
    transform: rotate(90deg)
}

.slider-buttons__svg path {
    stroke-width: 1px;
    transition: .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.slider-buttons__svg.right {
    transform: rotate(-90deg)
}
@keyframes MoveUpInitial {
    0% {
        transform: translate3d(0, 0, 0)
    }

    100% {
        transform: translate3d(0, -105%, 0)
    }
}

@keyframes MoveUpEnd {
    0% {
        transform: translate3d(0, 100%, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}
.hero-content a span{
    font-size: 1.125rem;
    opacity: .7;
}
.hero-content a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    
}
.hero-content a svg{
    flex-shrink: 0;
    background-color: #fff;
    width: 3.125rem;
    fill: var(--blue3);
    height: 3.125rem;
    padding: 1.3125rem 1.1875rem;
    border-radius: 50%;
}
.hero-form-box .slice {
  --c1: #202020;
  --c2: #00a1b7;
  --size-letter: 32px;
  font-size: var(--size-letter);
  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--blue);
  border-radius: 0.2em;
  cursor: pointer;
  width: 100%;
    padding: 12px;
  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  & > .text {
    font-weight: 700;
    color: #fff;
    position: relative;
    font-size: 16px;
    z-index: 1;
    transition: color 400ms cubic-bezier(0.83, 0, 0.17, 1);
  }
}

.hero-form-box .slice::after {
  content: "";

  width: 0;
  height: calc(300% + 1em);

  position: absolute;
  translate: -50% -50%;
  inset: 50%;
  rotate: 30deg;

  background-color: var(--blue);
  transition: 1000ms cubic-bezier(0.83, 0, 0.17, 1);
}

.hero-form-box .slice:hover {
  & > .text {
    color: #fff;
  }
  &::after {
    width: calc(120% + 1em);
  }
}

.hero-form-box .slice:active {
  scale: 0.98;
  filter: brightness(0.9);
}
.press-card {
    position: relative;
    z-index: 0;
    display: block;
    height: 27.1875rem
}

@media(max-width: 1279px) {
    .press-card {
        width:18.75rem;
        height: 17.3125rem;
        flex-shrink: 0
    }
}

.press-card {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    transition: border-color .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card:hover {
    border-color: rgba(0,0,0,0)
}

.press-card:hover .press-card__hover {
    transform: none
}

.press-card:hover .press-card__title,.press-card:hover .press-card__num,.press-card:hover .press-card__text, .press-card:hover .press-card_desc {
    color: #fff !important
}
.press-card_desc {
  display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-black);
}

.press-card:hover .press-card__wrapper {
    border-color: hsla(0,0%,100%,.2)
}

.press-card:hover .press-card__icon {
    background-color: var(--blue2)
}

.press-card:hover .press-card__svg path {
    stroke: #fff
}

@media(max-width: 1279px) {
    .press-card--small {
        width:100%;
        min-height: 9.5625rem;
        height: 100%
    }

    .press-card--small .press-card__container {
        padding: 1.25rem 1.25rem .75rem
    }

    .press-card--small .press-card__label {
        margin: 0 .625rem .625rem
    }
}

.press-card__hover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateY(110%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--blue);
    transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card__bg {
    width: 10.3125rem;
    height: 17.4375rem
}

.press-card__content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.press-card__container {
    padding: 1.25rem
}

.press-card__title {
    transition: color .5s cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
    color: var(--blue3)
    
}
.press-card_desc{
    transition: color .5s cubic-bezier(0.33, 1, 0.68, 1);
}

@media(max-width: 1279px) {
    .press-card__title {
        font-size:1rem
    }
}

.press-card__label {
    margin: 1.25rem;
    padding: .5rem .9375rem
}

@media(max-width: 1279px) {
    .press-card__label {
        margin:.625rem;
        padding: .375rem .75rem
    }
}

.press-card__label {
    display: inline-block;
    color: #fff;
    font-family: "Halvar Breitschrift";
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: 0.5rem;
    line-height: 1.1;
    background: #181d1d;
    border-radius: 3.125rem
}

@media(max-width: 1279px) {
    .press-card__label {
        font-size:0.375rem
    }
}

.press-card__wrapper {
    padding: .625rem 1.25rem
}

@media(max-width: 1279px) {
    .press-card__wrapper {
        padding:.375rem .625rem .1875rem
    }
}

.press-card__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e9e9e9;
    transition: border-color .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card__date {
    display: flex
}

@media(max-width: 1279px) {
    .press-card__date {
        align-items:center
    }
}

.press-card__date {
    color: var(--blue);
    text-transform: uppercase;
    letter-spacing: -0.01em
}


.press-card__text{
    font-weight: 700;
    font-size: 15px;
}
.press-card__icon {
    --size: 1.75rem
}

@media(max-width: 1279px) {
    .press-card__icon {
        --size: 1.25rem
    }
}

.press-card__icon {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e6e6e6;
    transition: background-color .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card__svg {
    --size: 0.75rem
}

@media(max-width: 1279px) {
    .press-card__svg {
        --size: 0.5625rem
    }
}

.press-card__svg {
    width: 12px;
    height:12px;
    transform: rotate(-90deg)
}

.press-card__svg path {
    stroke: #333;
    transition: .5s cubic-bezier(0.33, 1, 0.68, 1)
}
.services_section-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.services_section .link--black{
    display: flex;
    align-items: center
}

.link {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    display: flex;
    align-items: center
}

.link:hover .link__icon::before {
    background-color: var(--blue);
    transform: translate(-50%, -50%) scale(1.1)
}

.link--black .link__text {
    color: #181d1d
}

.link--left .link__svg {
    transform: rotate(90deg)
}

.link__icon {
    margin-right: 1.5rem
}

@media(max-width: 1279px) {
    .link__icon {
        margin-right:1.25rem
    }
}

.link__icon {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.link__icon::before {
    --size: 1.75rem;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--blue);
    transition: .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.link__svg {
    --size: 0.75rem;
    transform: rotate(-90deg)
}


.link__text {
    color: #fff;
    font-weight: 500
}

@media(max-width: 1279px) {
    .link__text {
        font-size:0.875rem
    }
}
.services_section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items:stretch
}
.services_section .only-mobile{
    display: none;
}
.services_section .press-card__title{
    color: #333
}
